html, body {
    margin: 0;
    padding: 0;
    height:100%;
    overflow:hidden;
  }
  canvas{
 display:block   
  }
  @font-face {
    font-family: vollkorn;
    src: url("assets/Vollkorn-Bold.ttf");
  }
  
  .gameTitle{
    width:85%;
    height:160px;
  }
.customInput{
  width:200px;
  height:30px;
  border:3px solid white;
  border: radius 5px;
  padding:5px;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  color: white;
  font-family: vollkorn;
  text-align: center;
}
::placeholder{
  color:white;
  opacity:0.5;

}
.customButton{
  width:100px;
  height:50px;
  background-color: #fea034 ;
  border:3px solid white;
  color:#FFFF;
  font-weight: bold;
  border: radius 10px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin:4px 2px;
  font-size: 16px;
  outline: none;
  font-family: vollkorn;
  cursor: pointer;
  transition-duration:0.45 ;
  -webkit-transition-duration:0.45 ;
}
